<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <body>
          <ul>
            <li>
              <p>Sandeep</p>
            </li>
            <li>
                <p>Shashi</p>
                <ol>
                    <li>Bhushan</li>
                    <li>Mahto</li>
                    <li>Sharma</li>
                </ol>
              </li>
              <li>
                <p>Sahil</p>
                <ol>
                    <li>Rajpal</li>
                    <li>Verma</li>
                    <li>Kumar</li>
                </ol>
              </li>
              <li>
                <p>Abhishek</p>
              </li>

          </ul>
    </body>
</head>
<body>
    
</body>
</html>